<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Make your quiz here! Then release it for the world to play!</h1>
        <form id="numQsForm">
            Number of Questions: <input type="text" id="numQs">
            <button type="button" id="numQsSubmitBtn">Submit</button>
        </form>

        <div id="questionPrompts">

        </div>
        
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src='/makeQuizHelpers.js'></script>
        <script>
            $(function() {
                $('#numQsSubmitBtn').click(function () {
                    makeQprompts('questionPrompts',$('#numQs').val());
                    $('#numQs').text('');
                });
            });
        </script>
    </body>
</html>